<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>

  <body>
    <p>「蒲牢」您正在申请登录，验证码 <%= @code %>，切勿将验证码泄漏于他人，本条验证码有效期15分钟</p>
  </body>
</html>
